/* General Styles*/

body {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: #6d696d53;
margin: 0;
padding: 0;
box-sizing: border-box;
color: rgb(103, 39, 230);
}

/* Header */
header {
    color: #fff;
    padding: 20px;
    text-align: right;
}

/* Image*/
 img {
            max-width: 20%; 
            height: auto; 
            display: block; 
            margin: 0 auto; 
        }
    