/* General Styles*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar {
   background-color: #fff;
   overflow: hidden;
   padding: 20px;
}

.navbar a {
display: inline;
color: lightslategray;
padding: 20px;
margin: 25px;
text-decoration: none;
font-size: 25px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.navbar a:hover {
    background-color: lavender;
    color: black;
}
    /* Header */
    header {
        color: #fff;
        padding: 0;
        text-align: right;
    }

body {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #c5c2c553;
    color:  rgb(101, 99, 99);
    box-sizing: border-box;
    text-align: center;
    
    }

/* Image*/
 img {
        max-width: 20%; 
        height: auto; 
        display: block; 
        margin: 10%;
        border-radius: 50px;
        border-style: solid;
        border-color: #fff;
        object-fit: cover;
        }
    
h2 {
    padding-bottom: 50px;

}
